In [26]:
import numpy as np
import pandas as pd

In [27]:
df=pd.read_csv(r"C:\Users\HP\OneDrive\Desktop\pythonprograms\Titanic-Dataset.csv")

In [28]:
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [29]:
data = df[['Age', 'Fare', 'Survived']].to_numpy()
print(data)

[[22.      7.25    0.    ]
 [38.     71.2833  1.    ]
 [26.      7.925   1.    ]
 ...
 [    nan 23.45    0.    ]
 [26.     30.      1.    ]
 [32.      7.75    0.    ]]

In [30]:
#a)Remove rows with missing values in any of the selected columns.
df_clean = data[~np.isnan(data).any(axis=1)]  # remove rows with N
df_clean

array([[22.    ,  7.25  ,  0.    ],
       [38.    , 71.2833,  1.    ],
       [26.    ,  7.925 ,  1.    ],
       ...,
       [19.    , 30.    ,  1.    ],
       [26.    , 30.    ,  1.    ],
       [32.    ,  7.75  ,  0.    ]])

In [38]:
#For normalization we need to Extract age, fare, and survival columns
ages = df_clean[:, 0]
fares = df_clean[:, 1]
survived = df_clean[:, 2]
# b) Normalize age and fare using Z-score normalization
ages = df_clean[:, 0]
fares = df_clean[:, 1]
survived = df_clean[:, 2]
print(ages)
print(fares)

[22.   38.   26.   35.   35.   54.    2.   27.   14.    4.   58.   20.
 39.   14.   55.    2.   31.   35.   34.   15.   28.    8.   38.   19.
 40.   66.   28.   42.   21.   18.   14.   40.   27.    3.   19.   18.
  7.   21.   49.   29.   65.   21.   28.5   5.   11.   22.   38.   45.
  4.   29.   19.   17.   26.   32.   16.   21.   26.   32.   25.    0.83
 30.   22.   29.   28.   17.   33.   16.   23.   24.   29.   20.   46.
 26.   59.   71.   23.   34.   34.   28.   21.   33.   37.   28.   21.
 38.   47.   14.5  22.   20.   17.   21.   70.5  29.   24.    2.   21.
 32.5  32.5  54.   12.   24.   45.   33.   20.   47.   29.   25.   23.
 19.   37.   16.   24.   22.   24.   19.   18.   19.   27.    9.   36.5
 42.   51.   22.   55.5  40.5  51.   16.   30.   44.   40.   26.   17.
  1.    9.   45.   28.   61.    4.    1.   21.   56.   18.   50.   30.
 36.    9.    1.    4.   45.   40.   36.   32.   19.   19.    3.   44.
 58.   42.   24.   28.   34.   45.5  18.    2.   32.   26.   16.   40.
 24.   35.   22.   30.   31.   27.   42.   32.   30.   16.   27.   51.
 38.   22.   19.   20.5  18.   35.   29.   59.    5.   24.   44.    8.
 19.   33.   29.   22.   30.   44.   25.   24.   37.   54.   29.   62.
 30.   41.   29.   30.   35.   50.    3.   52.   40.   36.   16.   25.
 58.   35.   25.   41.   37.   63.   45.    7.   35.   65.   28.   16.
 19.   33.   30.   22.   42.   22.   26.   19.   36.   24.   24.   23.5
  2.   50.   19.    0.92 17.   30.   30.   24.   18.   26.   28.   43.
 26.   24.   54.   31.   40.   22.   27.   30.   22.   36.   61.   36.
 31.   16.   45.5  38.   16.   29.   41.   45.   45.    2.   24.   28.
 25.   36.   24.   40.    3.   42.   23.   15.   25.   28.   22.   38.
 40.   29.   45.   35.   30.   60.   24.   25.   18.   19.   22.    3.
 22.   27.   20.   19.   42.    1.   32.   35.   18.    1.   36.   17.
 36.   21.   28.   23.   24.   22.   31.   46.   23.   28.   39.   26.
 21.   28.   20.   34.   51.    3.   21.   33.   44.   34.   18.   30.
 10.   21.   29.   28.   18.   28.   19.   32.   28.   42.   17.   50.
 14.   21.   24.   64.   31.   45.   20.   25.   28.    4.   13.   34.
  5.   52.   36.   30.   49.   29.   65.   50.   48.   34.   47.   48.
 38.   56.    0.75 38.   33.   23.   22.   34.   29.   22.    2.    9.
 50.   63.   25.   35.   58.   30.    9.   21.   55.   71.   21.   54.
 25.   24.   17.   21.   37.   16.   18.   33.   28.   26.   29.   36.
 54.   24.   47.   34.   36.   32.   30.   22.   44.   40.5  50.   39.
 23.    2.   17.   30.    7.   45.   30.   22.   36.    9.   11.   32.
 50.   64.   19.   33.    8.   17.   27.   22.   22.   62.   48.   39.
 36.   40.   28.   24.   19.   29.   32.   62.   53.   36.   16.   19.
 34.   39.   32.   25.   39.   54.   36.   18.   47.   60.   22.   35.
 52.   47.   37.   36.   49.   49.   24.   44.   35.   36.   30.   27.
 22.   40.   39.   35.   24.   34.   26.    4.   26.   27.   42.   20.
 21.   21.   61.   57.   21.   26.   80.   51.   32.    9.   28.   32.
 31.   41.   20.   24.    2.    0.75 48.   19.   56.   23.   18.   21.
 18.   24.   32.   23.   58.   50.   40.   47.   36.   20.   32.   25.
 43.   40.   31.   70.   31.   18.   24.5  18.   43.   36.   27.   20.
 14.   60.   25.   14.   19.   18.   15.   31.    4.   25.   60.   52.
 44.   49.   42.   18.   35.   18.   25.   26.   39.   45.   42.   22.
 24.   48.   29.   52.   19.   38.   27.   33.    6.   17.   34.   50.
 27.   20.   30.   25.   25.   29.   11.   23.   23.   28.5  48.   35.
 36.   21.   24.   31.   70.   16.   30.   19.   31.    4.    6.   33.
 23.   48.    0.67 28.   18.   34.   33.   41.   20.   36.   16.   51.
 30.5  32.   24.   48.   57.   54.   18.    5.   43.   13.   17.   29.
 25.   25.   18.    8.    1.   46.   16.   25.   39.   49.   31.   30.
 30.   34.   31.   11.    0.42 27.   31.   39.   18.   39.   33.   26.
 39.   35.    6.   30.5  23.   31.   43.   10.   52.   27.   38.   27.
  2.    1.   62.   15.    0.83 23.   18.   39.   21.   32.   20.   16.
 30.   34.5  17.   42.   35.   28.    4.   74.    9.   16.   44.   18.
 45.   51.   24.   41.   21.   48.   24.   42.   27.   31.    4.   26.
 47.   33.   47.   28.   15.   20.   19.   56.   25.   33.   22.   28.
 25.   39.   27.   19.   26.   32.  ]
[  7.25    71.2833   7.925   53.1      8.05    51.8625  21.075   11.1333
  30.0708  16.7     26.55     8.05    31.275    7.8542  16.      29.125
  18.      26.      13.       8.0292  35.5     21.075   31.3875 263.
  27.7208  10.5     82.1708  52.       8.05    18.      11.2417   9.475
  21.      41.5792   7.8792  17.8     39.6875   7.8     76.7292  26.
  61.9792  10.5      7.2292  27.75    46.9      7.2292  80.      83.475
  27.9     10.5      8.1583   7.925    8.6625  10.5     46.9     73.5
  14.4542  56.4958   7.65    29.      12.475    9.       9.5     47.1
  10.5     15.85    34.375  263.       8.05     8.05     7.8542  61.175
  20.575    7.25    34.6542  63.3583  23.      26.       7.8958  77.2875
   8.6542   7.925    7.8958   7.65     7.8958  52.      14.4542   8.05
   9.825   14.4583   7.925    7.75    21.     247.5208  31.275   73.5
  30.0708  13.      77.2875  11.2417   7.1417   6.975    7.8958   7.05
  14.5     26.      13.      15.0458  26.2833  53.1      9.2167  79.2
   7.75    15.85     6.75    11.5     36.75     7.7958  34.375   26.
  13.      12.525   66.6      8.05    14.5     61.3792   7.7333   8.05
  16.1     15.75     7.775    8.6625  39.6875  20.525   27.9     56.4958
  33.5     29.125   11.1333   7.925   30.6958   7.8542  28.7125  13.
   0.      31.3875  39.      22.025   26.55    15.5      7.8958  13.
  13.       7.8542  26.      27.7208 146.5208   8.4042  13.       9.5
   6.4958   7.225    8.05    10.4625  15.85    18.7875   7.75    31.
   7.05    21.       7.25    13.     113.275    7.925   27.      76.2917
  10.5      8.05    13.       8.05    90.       9.35    10.5      7.25
  13.      83.475    7.775   13.5     31.3875  10.5     26.      26.25
  10.5     12.275   10.5      7.125    7.225   90.       7.775   14.5
  52.5542  26.      10.4625  26.55    16.1     20.2125  15.2458  86.5
 512.3292  26.      31.3875  79.65     0.      10.5     39.6875   7.775
 153.4625 135.6333   0.      19.5     29.7     77.9583   7.75    29.125
  20.25     7.75     7.8542   9.5      8.05     8.6625   9.5      7.8958
  13.       7.75    78.85    91.0792  12.875    8.85     7.8958   7.2292
 151.55   247.5208   0.     151.55   108.9     24.      56.9292  83.1583
 262.375   26.       7.8958  26.25     7.8542  26.      14.     164.8667
 134.5      7.25     7.8958  12.35    29.     135.6333   6.2375  13.
  20.525   57.9792  28.5    153.4625  18.      66.6    134.5      8.05
  35.5     26.     263.      13.      13.      13.      13.      13.
  15.9      8.6625   9.225    7.2292  17.8      9.5     55.      13.
  27.9     27.7208  14.4542   7.05     7.25    75.25    69.3     55.4417
   6.4958   8.05   135.6333  21.075    7.25   211.5      4.0125   7.775
 227.525   15.7417   7.925   52.      73.5     46.9     13.      12.
 120.       7.7958   7.925  113.275   16.7      7.7958   7.8542  26.
  10.5     12.65     7.925    8.05     9.825   15.85     8.6625  21.
   7.75    18.75     7.775   90.       7.925   32.5     13.      13.
  24.15     7.7333   7.875   14.4     20.2125  26.      26.       8.05
  26.55    26.       7.125   55.9    120.      34.375   18.75   263.
  10.5     26.25     9.5      7.775   13.      81.8583  19.5     26.55
  19.2583  30.5     27.75    27.75    89.1042   7.8958  26.55    10.5
  26.55     8.05    38.5     13.       7.05    26.55    19.2583   8.6625
  27.75    13.7917   9.8375  21.       7.0458   7.5208  12.2875  46.9
   8.05     9.5875  91.0792  90.      29.7      8.05    15.9      7.25
  30.5     49.5042   8.05    78.2667 151.55     7.7958   8.6625   7.75
   9.5875  86.5    108.9     26.      22.525   56.4958   7.75    26.2875
  59.4      7.4958  34.0208  10.5     26.       7.8958  93.5      7.8958
  57.9792   7.75    10.5      7.925   11.5     26.       7.2292   8.6625
  26.25    26.55   106.425   49.5     71.      31.275   31.275   26.
 106.425   26.      26.      20.525   36.75   110.8833  26.       7.225
   7.775   26.55    39.6     79.65    17.4      7.8958  13.5     24.15
   7.8958  21.075    7.8542  10.5     51.4792  26.3875   8.05    14.5
  13.      55.9      7.925   30.     110.8833  26.      40.125   79.65
  15.      79.2      8.05     7.125   78.2667   7.25    26.      24.15
   0.      56.9292  27.       8.05    26.55    15.55     7.8958  30.5
  41.5792 153.4625  31.275    8.05    65.      14.4     16.1     39.
  10.5     14.4542  52.5542  15.7417   7.8542  16.1     32.3208  12.35
  77.9583   7.8958  30.       7.0542  30.5     27.9     13.       7.925
  26.25    39.6875   7.8542  69.3     27.9     19.2583  76.7292   7.8958
  35.5      7.55    23.       8.4333   6.75    73.5     15.5     13.
 113.275  133.65     7.225   25.5875   7.4958   7.925   73.5     13.
   8.05    39.      52.      10.5     13.       7.775    8.05     9.8417
  46.9    512.3292  76.7292   9.225   46.9     39.      41.5792  39.6875
  10.1708   7.7958 211.3375  57.      13.4167   7.225   26.55    13.5
   8.05   110.8833   7.65   227.525   26.2875  14.4542   7.7417   7.8542
  26.      13.5     26.2875 151.55    49.5042  52.       9.4833  13.
   7.65   227.525   10.5      7.775   33.       7.0542  13.      13.
  53.1      8.6625  21.      26.       7.925  211.3375  18.7875  13.
  13.      16.1     34.375  512.3292  78.85   262.375   16.1      7.925
  71.      20.25    13.      53.1      7.75    23.      12.475    9.5
   7.8958  65.      14.5      7.7958  11.5      8.05    86.5      7.125
   7.2292 120.       7.775   77.9583   7.75     8.3625   9.5      7.8542
  10.5     23.       7.75    12.475  211.3375   7.2292  57.      30.
   7.05     7.25     7.4958  29.125   20.575   79.2     26.       7.8958
  13.      25.9292   8.6833   7.2292  24.15    13.      26.25   120.
   8.5167   6.975    7.775    0.       7.775   13.      53.1      7.8875
  24.15    10.5     31.275    8.05     7.925   37.0042   6.45    27.9
  93.5      8.6625   0.      12.475   39.6875  37.0042  80.      14.4542
  18.75     7.8542   8.3     83.1583   8.6625  56.4958   7.925   10.5
  31.       6.4375   8.6625   7.55     7.8958  33.      31.275    7.775
  15.2458  39.4     26.       9.35   164.8667  26.55    19.2583  14.1083
  11.5     25.9292  13.      13.      13.8583  50.4958  11.1333   7.8958
  52.5542   5.       9.      24.       7.225    9.8458   7.8958  83.1583
  26.       7.8958  10.5167  10.5      7.05    29.125   13.      30.
  30.       7.75  ]

In [ ]:
mean_age_survived = np.mean(ages[survived == 1])
mean_fare_survived = np.mean(fares[survived == 1])
mean_age_not_survived = np.mean(ages[survived == 0])
mean_fare_not_survived = np.mean(fares[survived == 0])
print("Mean Age of the Survived:", mean_age_survived)
print("Mean Fare of the Survived:", mean_fare_survived)
print("Mean Age for the Not Survived:", mean_age_not_survived)
print("Mean Fare of the Not Survived:", mean_fare_not_survived)

Mean Age of the Survived: 28.343689655172415
Mean Fare of the Survived: 51.843205172413796
Mean Age for the Not Survived: 30.62617924528302
Mean Fare of the Not Survived: 22.96545636792453

In [ ]:
# d)BY using the np.where() for  classifying  the fare as 'Low' or 'High'
fare_mean = np.mean(fares)
fare_class = np.where(fares < fare_mean, "Low", "High")

# Print first 10 fare classifications as a sample
print("Fare Class First 10 of the classifications:", fare_class[:10])

Fare Class First 10 of the classifications: ['Low' 'High' 'Low' 'High' 'Low' 'High' 'Low' 'Low' 'Low' 'Low']

Problem 2

In [57]:
#Here is the code with explanations:

#Loading the Iris Dataset and Creating Petal Ratio

import pandas as pd

# Load the iris dataset from a CSV file into a DataFrame called df1
df1 = pd.read_csv(r"C:\Users\HP\OneDrive\Desktop\pythonprograms\iris_dataset.csv")

# Create a new column called 'petal_ratio' in the DataFrame df1, which is the ratio of 'Petal.Length' to 'Petal.Width'
df1['petal_ratio'] = df1['petal.length'] / df1['petal.width']


#Average Petal Ratio

# Calculate and print the mean of the 'petal_ratio' column in the DataFrame df1
print(df1['petal_ratio'].mean())


#Filtering Dataset: Sepal Width Above Mean

# Filter the DataFrame df1 to only include rows where 'Sepal.Width' is greater than the mean of 'Sepal.Width', and print the result
print(df1[df1['sepal.width'] > df1['sepal.width'].mean()])


#Splitting DataFrame: Petal Ratio < 2 and â‰¥ 2

# Split the DataFrame df1 into two subsets: subset1 where 'petal_ratio' is less than 2, and subset2 where 'petal_ratio' is greater than or equal to 2
subset1 = df1[df1['petal_ratio'] < 2]
subset2 = df1[df1['petal_ratio'] >= 2]

# Concatenate subset1 and subset2 vertically and print the result
print(pd.concat([subset1, subset2]))

4.310499757025204
     sepal.length  sepal.width  petal.length  petal.width    variety  \
0             5.1          3.5           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
..            ...          ...           ...          ...        ...
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
148           6.2          3.4           5.4          2.3  Virginica

     petal_ratio
0       7.000000
2       6.500000
3       7.500000
4       7.000000
5       4.250000
..           ...
140     2.333333
141     2.217391
143     2.565217
144     2.280000
148     2.347826

[67 rows x 6 columns]
     sepal.length  sepal.width  petal.length  petal.width    variety  \
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

     petal_ratio
0       7.000000
1       7.000000
2       6.500000
3       7.500000
4       7.000000
..           ...
145     2.260870
146     2.631579
147     2.600000
148     2.347826
149     2.833333

[150 rows x 6 columns]